.contact-linker-name-header{
    font-family: Alegreya;
    font-size: 100px;
    font-style: italic;
    background: radial-gradient(circle, #3860ff, #68dcff);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.buttons {
    padding: 10px 0px 15px 0px;
    display: block;
}


.addContacts {
    align-self: center;
}

.addContacts input {
    border: 1px solid black;
}

